#beliefs-welcome {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  @include mdc-typography('caption');
}

#beliefs {
  padding: 0;
}

#beliefs li {
  list-style-position: inside;
  list-style-type: upper-roman;
  @include mdc-typography('headline5');
}

#beliefs li div {
  margin-top: 1.2rem;
}

#beliefs li p {
  margin-bottom: 1rem;
  text-indent: 1rem;
  @include mdc-typography('body2');
}

#beliefs li .title {
  text-transform: uppercase;
}

#beliefs li .verses {
  font-style: italic;
  text-indent: 0;
  @include mdc-typography('caption');
  @include mdc-theme-prop('color', 'text-secondary-on-light');
}
