#contact {
    padding: 16px 0;
}

#contact h3 {
    margin: 0 auto 20px auto;
    @include mdc-typography(display1);
}

#meeting-times p {
    padding: 5px 0;
    text-indent: 20px;
    @include mdc-typography(body1);
}

#meeting-times iframe {
    margin: 20px auto 30px auto;
}

#telephone small {
    @include mdc-theme-prop(color, text-secondary-on-background);
    @include mdc-typography(subheading2);
}

#contact-form {
    padding-top: 30px;
}

#contact-form h3 {
    margin: 0;
}

#contact-form .mdc-text-field,
#contact-form .mdc-text-field__input {
    width: 100%;
}

#contact-form .mdc-text-field--textarea {
    margin: 50px auto 30px auto;
}

#contact-form button {
    float: right;
}
