#sidebar {
  @include mdc-typography(body1);
}

.message-cards .mdc-card {
  margin: 0 auto 25px auto;
  max-width: 500px;
  padding: 0 16px;
}

.player {
  margin-bottom: 10px;
}

.player i {
  font-size: 48px;
  left: -16px;
  padding: 0;
}

.player .duration {
  text-align: center;
}

.message-actions {
  left: -8px;
  padding: 8px 0;
  position: relative;
}

#add-message {
  margin: 0 auto;
  max-width: 1024px;
}

#add-message .mdc-select {
  top: 16px;
  width: 100%;
}

#add-message button {
  float: right;
  margin-top: 30px;
}
