#bible-reading {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  width: 300px;
}

#bible-reading li {
  margin-bottom: 5px;
}

#bible-reading li span {
  margin-left: 10px;
  text-transform: uppercase;
}

#bible-reading li div {
  float: right;
}