#bulletin-picker {
  margin: 0 auto;
  max-width: 1118px
}

.bulletin-select {
  margin-right: 10px;
  margin-bottom: 15px;
  max-width: 360px
}

#bulletin-iframe {
  aspect-ratio: 4/3;
  border: none;
  margin-top: 24px;
  width: 100%
}
