/bower_components
/nbproject
/node_modules
/public/css
/public/fonts
/public/hot
/public/imgs
/public/js
/public/mix-manifest.json
/public/storage
/public/vendor
/storage/*.key
/vendor
.c9
.DS_Store
.env
.php_cs.cache
.phpunit.result.cache
composer.phar
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Thumbs.db
