/bower_components
/nbproject
/node_modules
/public/audio
/public/css
/public/fonts
/public/imgs
/public/js
/vendor
.c9
.DS_Store
.env
.php_cs.cache
composer.lock
composer.phar
mix-manifest.json
Thumbs.db
