html, body {
  height: calc(100% - 64px);
}

body {
  overflow-y: scroll !important;
}

main {
  max-width: 1200px;
  min-height: calc(100% - 25px);
}

@media (max-width: 599px) {
  main {
    min-height: calc(100% - 17px);
  }
}
