.mdc-toolbar__icon--menu {
  line-height: 1.3;
  text-decoration: none;
  @include mdc-theme-prop(color, text-icon-on-primary);
}

.mdc-toolbar__title--mini {
  display: none;
}

@media (max-width: 400px) {
  .mdc-toolbar__title--mini {
    display: block;
  }
  .mdc-toolbar__title--full {
    display: none;
  }
}
