.pagination {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
}

.pagination li a,
.pagination li span {
  display: block;
  line-height: 30px;
  padding: 0 0.5rem;
  width: 24px;
}

.pagination li a {
  text-decoration: none;
  @include mdc-theme-prop(color, primary);
}

.pagination li.active,
.pagination li a:hover {
  @include mdc-theme-prop(background, primary);
  @include mdc-theme-prop(color, on-primary);
}
