.player {
  margin-bottom: 10px;
}

.player .mdc-icon-button {
  @include mdc-icon-button-icon-size(48px, 48px, 6px);
  left: -6px;
}

.player i {
  font-size: 48px;
}

.player .duration {
  text-align: center;
}
