.mdc-card__primary a {
  text-decoration: none;
}

.mdc-card__primary h1 {
  text-align: center;
  @include mdc-theme-prop(color, primary);
  @include mdc-typography(headline);
}

.mdc-card__secondary h3 {
  @include mdc-typography(body1);
}

.mdc-card__actions i {
  padding: 0 8px;
  @include mdc-button-ink-color($mdc-theme-primary);
}

.mdc-card__actions i.cancel {
  @include mdc-button-ink-color($mdc-theme-secondary);
}
