@media screen and (min-width: 40em) { /* min-width 641px, medium screens */

/* Global styles
=================================================*/

    body {
        overflow-y: scroll;
    }

    header h1 {
        font-size: 3rem;
    }

    #copyright {
        font-size: 1rem;
    }


/* Contacts styles
=================================================*/

    #contact .meeting-times {
        font-size: 1rem;
    }


/* Directory styles
=================================================*/

    #directory-form fieldset label {
        font-size: 0.8rem;
    }

    #directory-form #roles label {
        font-size: 0.8rem;
    }

/* Messages styles
=================================================*/

    #messages-table div:first-child {
        margin-top: 0;
    }

    #messages-table .player {
        margin: 0;
    }
}
