@media only screen {

/* Global styles
=================================================*/

    html, body {
        height: 100%;
    }

    #wrapper {
        min-height: 100%;
    }

    #main {
        overflow: auto;
        padding-bottom: 60px;
    }

    header {
        background: #13a7c7;
        min-width: 100%;
    }

    header .row {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    header h1 {
        color: #fff;
        font-size: 1.8em;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    #main {
        padding-top: 1.5em;
    }

    #content p {
        text-indent: 20px;
    }

    footer {
        background: #13a7c7;
        height: 60px;
        margin-top: -60px;
        padding: 1.3em 0;
        text-align: center;
        min-width: 100%;
    }

    #copyright {
        font-size: 0.9rem;
        margin: 0;
    }


/* Contact styles
=================================================*/

    #contact iframe {
        margin-bottom: 30px;
    }

    #telephone {
        margin-bottom: 20px;
    }

    #contact form #email {
        height:100px;
    }


/* Members styles
=================================================*/

    .fn .last-name {
        text-transform: uppercase;
    }

    ul .vcard {
        font-size: 0.8em;
        width: 100%;
    }

    #street_number {
        -moz-appearance: textfield;
        width: 45%;
    }

    #zipcode {
        -moz-appearance: textfield;
        width: 65%;
    }


/* Messages styles
=================================================*/

    #messages-table {
        padding-bottom: 75px;
    }

    #messages-table p {
        text-indent: 0;
    }

    #messages-table .message-info {
        margin: 75px 0 15px 0;
    }

    #messages-table .full-name {
        text-transform: capitalize;
    }

    #messages-table p {
        margin-bottom: 3px;
        margin-top: 3px;
    }

    #messages-table span.last-name {
        text-transform: uppercase;
    }

    #messages-table .message-title {
        font-style: italic;
        font-weight: bold;
    }
    
    #messages-table .message-title a {
        color: #222;
    }
    
    #messages-table .message-passage {
        font-weight: bold;
    }

    #messages-table .player {
        background: lightgray;
        height: 48px;
    }

    #messages-table .player .playtoggle {
        background: url('../img/player.png') no-repeat scroll -30px 0;
        cursor: pointer;
        height: 30px;
        left: 5px;
        position: absolute;
        top: 9px;
        width: 30px;
    }

    #messages-table .player .playing {
        background-position: 0 0;
    }

    #messages-table .player .gutter {
        background: #516070;
        border: 0;
        border-radius: 5px;
        height: 6px;
        left: 40px;
        margin-top: 21px;
        padding: 4px;
        position: absolute;
        width: 100%;
    }

    #messages-table .player .handle {
        background: url('../img/player.png') no-repeat scroll -65px -5px;
        border: 0;
        cursor: pointer;
        height: 20px;
        left: 0;
        margin-left: -5px;
        position: absolute;
        top: -6px;
        width: 20px;
    }
    
    #messages-table .player .ui-slider-range {
        background: #13a7c7;
        border-radius: 5px;
    }

    #messages-table .player .timeleft {
        left: 30px;
        position: absolute;
        top: 18px;
    }

    #add-message .button {
        margin-top: 1.35rem;
    }
}
